.head {
    font-size: 2rem;
    font-weight: bold;
    color: purple;
    margin: 1rem;
}

hr {
    width: 75%;
    height: 1.5px;
    background-color: blue;
}

.txtDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 3rem 0;
    border: 2px solid blue;
    border-radius: 8px;
    width: 100%;
}

p {
    font-size: 1.25rem;
    color: antiquewhite;
    padding: 7px;
    margin: 1rem;
}

h1 {
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
    margin: 1rem;
}
@media (max-width: 768px) {
    .txtDiv {
        margin: 1rem;
    }

    p {
        font-size: 1rem;
        color: antiquewhite;
        text-align: center;
        margin: 0;
    }

    h1 {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: antiquewhite;
        text-align: center;
        margin: 2.5rem 1rem 0rem 1rem;
    }
}
