.port {
    border-radius: 8px;
    width: 1000px;
    height: auto;
}

.portImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5.5em;
}

@media (max-width: 1000px) {
    .port {
        width: 600px;
    }
}

@media (max-width: 800px) {
    .port {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .port {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .port {
        width: 300px;
    }
}